<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width"/>
<title>Sistemas Univag</title>
<style>
    body {width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;}
    a, a:visited {color:#0A32A1; }
    a:hover { color:#0026ff; }
</style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="background:#142752 url(http://sistema.univag.edu.br/View/img/email/email_capa_fundo.png); height: 185px;">
                <div style="background:url(http://sistema.univag.edu.br/View/img/email/email_capa_fundo_quadrados.png); height:130px;">
        	        <!--CABEÇALHO-->
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <div style="text-align:center;">
                                    <a href="http://sistema.univag.edu.br" title="Sistemas Univag" target="_blank" style="text-decoration:none;">
                                        <img src="http://sistema.univag.edu.br/img/email/email_capa_logo.png" alt="Sistemas Univag" border="0" style="border:0;display:inline-block;">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!--TEXTO CONFIRMAÇAO-->
                <div style="background:#F0F0F0;padding:5%;">
        	        <h1 style="color:#0A32A1;font-family:Arial, Helvetica, sans-serif;font-size:24px;margin:0;padding:0;">Recuperação de Senha</h1><br/>
            
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Olá #{NOME}, foi solicitada uma nova senha para seu usuário no sistema.</strong>
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;">Confira abaixo as novas informações de acesso:</p>
                    <br />
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Data da solicitação:</strong> #{DATA}</p>
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Sistema:</strong> #{SISTEMA}</p>
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Login:</strong> #{LOGIN}</p>
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Nova senha:</strong> #{NOVASENHA}</p>
                    <br/>
                    <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;">
                        Acesse o portal <a href="http://sistema.univag.edu.br/Login.aspx" target="_blank" title="Sistemas Univag">Sistemas Univag</a>, e faça o login. <br /><br />
                        Essa senha é válida por #{DIASEXPIRACAOSENHA} dias. 
                        Caso queira solicitar uma nova senha <a href="http://sistema.univag.edu.br/Login.aspx/RecuperarSenha" target="_blank" title="Sistemas Univag">clique aqui</a>.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
      	        <!--RODAPE-->
                <div style="background:#142752;padding:5%;text-align:center;font-family:Arial,Helvetica,sans-serif;">
                    <img src="http://sistema.univag.edu.br/img/email/email_rodape_logo.png" width="130" height="54" alt="Sistemas Univag" style="margin-bottom:10px;" /><br />          
                    <a href="http://sistema.univag.edu.br" title="Sistemas Univag" target="_blank" style="color:#00C0FF;text-decoration:none;font-size:1em;">
                        www.sistema.univag.edu.br
                    </a>
                    <p style="color:#fff; font-size: 0.75em">© 2014 SISUNIVAG - Sistemas Univag. Todos os direitos reservados.</p>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>
