<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Mensageria Univag</title>
</head>

<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
        	<!--CABEÇALHO-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
					<div style="text-align:center;background-color:#444;padding:10px;">
						<img src="http://repositorio.univag.edu.br/View/Img/logo.png" width="171" height="72" alt="Vestibular Univag" border="0" style="border:0;display:inline-block;"/>
					</div>
				</td>
              </tr>
            </table>
        </td>
      </tr>
      <tr><td>
      	<!--TEXTO CONFIRMAÇAO-->
        <div style="background:#F0F0F0;padding:5%;">
        	<h1 style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:24px;margin:0;padding:0;">Atualização de chamado - Mensageria (Help Desk)</h1><br/>
            
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Olá #{NOME}, seu chamado de código #{CODIGOCHAMADO}&nbsp; foi repassado para o analista #{ANALISTAATENDENTE}</strong><p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;">Confira abaixo as informações sobre a atualização do chamado.</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Data de abertura: </strong>#{DATAABERTURA}</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Data de atendimento: </strong>#{DATAATENDIMENTO}</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Campus: </strong>#{CAMPUS}</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Login usuário solicitante:</strong> #{LOGINUSUARIO}</p>
			<p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Módulo: </strong>#{MODULO}</p>
		    <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Assunto: </strong>#{ASSUNTO}</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Tipo do chamado:</strong> #{TIPOCHAMADO}</p>
            <p style="color:#444;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><strong>Texto solicitante: </strong><br/><br/>#{TEXTOSOLICITANTE}</p>

            <br/>
			
            <p style="color:#444444;font-family:Arial, Helvetica, sans-serif;font-size:16px;">
				Continue atento para novas atualizações sobre seu chamado. Caso tenha alguma dúvida ou sugestão por favor entre em contato.</p>
           
        </div>
      </td></tr>
      <tr><td>
      	<!--RODAPE-->
        <div style="background:#444;padding:5%;">
            <a href="http://sistema.univag.edu.br" title="Vestibular Univag" target="_blank" style="display:block;text-align:center;color:#00C0FF;font-family:Arial, Helvetica, sans-serif;text-decoration:none;font-size:17px;">http://sistema.univag.edu.br</a>
        </div>
      </td></tr>
    </table>

</body>
</html>
