/*
    MAIN CSS
    AUTOR: Leandro Moreira Curioso de Oliveira
    ORGANIZAÇÃO: Univag - Centro Universitário (NPD - Núcleo de Processamento de Dados)
*/

/*Charset*/
@charset "UTF-8";

/*Ínício body*/
body {
    width: 100%;
}
/*Fim body*/

/*Início console*/
#console {
    width: 80%;
    margin: 40px auto 0 auto;
}
/*Fim console*/

/*Ínício linha topo*/
#linha-topo {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
    -webkit-box-shadow: 0 3px 5px rgba(89,89,89,.6);
    -moz-box-shadow: 0 3px 5px rgba(89,89,89,.6);
    box-shadow: 0 3px 5px rgba(89,89,89,.6);
}

#linha-topo-icone {
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


#linha-topo-descricao {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 0 #000000;
}

    #linha-topo-descricao a {
        color: white;
    }

#linha-topo-menu .btn-group {
    text-align: left;
}

#linha-topo-menu {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
/*Fim linha topo*/

#titulo-modulo {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    color: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(89,89,89,.6);
    -moz-box-shadow: 0 3px 5px rgba(89,89,89,.6);
    box-shadow: 0 3px 5px rgba(89,89,89,.6);
    text-shadow: 1px 1px 0 #000000;
}

.dropdown-menu {
    cursor: pointer;
}

.table {
    margin-top: 10px;
}

.table-responsive {
     margin-top: 0px !important; 
}

/*Início datepicker*/
.datepicker {
    z-index: 1151 !important;
}
/*Fim datepicker*/


/* NEW CHECKBOX */
.smart-form .checkbox, .smart-form .radio {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
}

.smart-form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
    position: relative;
    display: block;
    font-weight: 400;
}

.smart-form *, .smart-form :after, .smart-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.smart-form .checkbox input, .smart-form .radio input {
    position: absolute;
    left: -9999px;
}

.smart-form .checkbox i, .smart-form .icon-append, .smart-form .icon-prepend, .smart-form .input input, .smart-form .radio i, .smart-form .select select, .smart-form .textarea textarea, .smart-form .toggle i {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.smart-form .checkbox i, .smart-form .radio i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}

.smart-form .checkbox input:checked+i:after, .smart-form .radio input:checked+i:after {
    opacity: 1;
}

.smart-form .checkbox input+i:after {
    color: #3276B1;
}

.smart-form .checkbox input+i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: 400 16px/19px FontAwesome;
    text-align: center;
}

.smart-form .checkbox input+i:after, .smart-form .radio input+i:after {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
    -o-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.smart-form *, .smart-form :after, .smart-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.smart-form .checkbox input:hover+i:after {
    opacity: 1;
}

.smart-form .checkbox input:checked:hover+i:after {
    content: '\f00d';
}
/* END NEW CHECKBOX */