<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E-MAIL DATANORTE</title>
</head>
<body>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%; border-spacing:0; border-collapse:collapse;"> 
        <tr>
            <td>
                <!-- TABELA FUNDO -->
                <table width="700" border="0" cellspacing="0" cellpadding="0" style="width:700px; height:1200px; border-spacing:0; border-collapse:collapse; margin-left:auto; margin-right:auto;">
                    <tr>
                        <td style="background-image: url(https://sisrepositorio.datanorte.com.br/Template/Email/Imagens/fundo.png), url(/Template/Email/Imagens/fundo.png); background-color: #0e2e80; vertical-align: top; padding: 30px 20px 20px 20px;">

                            <!-- TABELA CONTEUDOS -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%; border-spacing:0; border-collapse:collapse; color: #fff; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                <tr>
                                    <td style="padding-bottom: 20px; font-size: 34px;">
                                        Olá, [Aluno]
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; font-size: 20px;">
                                        <div style="min-height:850px; line-height: 26px;">

                                            <span style="min-height: 700px; line-height: 26px;">
                                                Texto do e-mail<br />
                                                Texto
                                            </span>

                                            <!-- DIV TABELA -->
                                            <div style="background-color: rgba(5, 20, 67, 0.7); border-radius: 7px; margin-top: 20px; color: #fff; padding: 10px; font-size:18px;">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Nome Completo:</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <!-- FIM DIV TABELA -->

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; text-align:center;">
                                        <img src="http://sisrepositorio.datanorte.com.br/Template/Email/Imagens/logo.png" onerror="this.src='/Template/Email/Imagens/logo.png'" width="413" height="129" alt="Logo datanorte" style="width:413px; height:129px;" title="Datanorte Sistemas" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 20px; text-align:center;">
                                       
                                    </td>
                                </tr>
                            </table>
                            <!-- FIM TABELA CONTEUDOS -->

                        </td>
                    </tr>
                </table>
                <!-- FIM TABELA FUNDO -->

            </td>
        </tr>
    </table>
</body>
</html>