/*
    ERRO CSS
    AUTOR: Evander Emanuel da Silva Costa
    ORGANIZAÇÃO: Univag - Centro Universitário (NTI - Núcleo de Tecnologia da Informação)
*/
@charset "utf-8";

body {
    background: url('../img/background_login.png') #142752;
}

.panel {
    padding: 40px;
}

.error-text {
    text-align: center;
    font-weight: 400;
    color: lightgray;
    letter-spacing: -4px;
    font-size: 700%;
    margin-bottom: 30px;
    text-shadow: 0 1px 0 #ccc,0 2px 0 #bfbfbf,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}

.error-msg {
    text-align:center;
    color:#666;
}
.error-links {
    width: 220px;
    margin: 20px auto;
    font-size: 1.2em;
}

#form {
    max-width: 960px;
    padding: 15px;
    margin: 0 auto;
}


#footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 3em;
    background: linear-gradient(#f5f5f5, #c4c4c4);
    text-align: center;
    padding-top: 1em;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.4);
}

#logo-login {
    /*position:fixed;*/
    bottom: 100px;
    right: 40px;
    width: 300px;
    height: 100px;
}

@media screen and (max-width: 1366px) {
    #logo-login {
        bottom: 60px;
        right: 30px;
        width: 250px;
        height: 83px;
    }
}

@media screen and (max-width: 1280px) {
    #logo-login {
        bottom: 60px;
        right: 30px;
        width: 220px;
        height: 73px;
    }
}
@media screen and (max-width: 800px) {
    #footer {
        display:none;
    }
    #logo-login {
        display:none;
    }
}
