/*
    MENSAGERIA CSS
    AUTOR: Evander Emanuel da Silva Costa
    ORGANIZAÇÃO: Univag - Centro Universitário (NTI - Núcleo de Tecnologia da Informação)
*/
@charset "UTF-8";

input.error {
    margin-top: 0px;
}